:root {
    --custom-color1: #929292;
    --custom-color2: #FFF;
    --custom-color3: #CF2D18;
    --custom-color4: #000;
    --custom-color5: #8E8E8E;
    --custom-colors6: #FFF5F4;
  }


.AboutPagText-Box{
    background: #000;
height: 164px;
display: flex;
height: 164px;
padding: 10px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
}

.About-text{
    color: #FFF;
    font-family: Manrope;
    font-size: 56px;
    font-style: normal;
    font-weight: 800;
    line-height: 60px; /* 107.143% */
    letter-spacing: -2.24px;
}

.us-Text{
color: var(--custom-color3);
}

.image-Box{
    width: 100% !important;
height: 618px;
flex-shrink: 0;
}

.groupImage{
    width: 100%;
}

.mission-vission{
    background-image: url('../../assets/vectorbg.png');
    background-position: center;
    background-repeat:  no-repeat;
    background-size: cover;
    width: 949.902px;
/* height: 1018.618px; */
/* transform: rotate(36.556deg); */
flex-shrink: 0;
    
}
 .lineBox{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .meetingBox{
    display: flex;
    justify-content: center;
    align-items: center
 }
 .vissionBox{
    display: flex;
    justify-content: center;
    align-items: center
 }
.missionBox{
    display: flex;
    justify-content: center;
    align-items: center 
}
.missionTopTeaxt{
    color: #CF2D18;
font-size: 15px;
font-style: normal;
font-weight: 900;
line-height: 18px; /* 150% */
}
.misstext{
    color: #828282;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 116.667% */
letter-spacing: -0.96px;
/* text-transform: capitalize; */
}

.V-text{
    color: #828282;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 18px; /* 128.571% */
}

.m-text{
    width: 630px;
height: 164px;
}
.misson-text{
    width: 699px;
}

.missionText{
    margin-top: 17% !important;
}

.ourObjectives{
    background-color: #000;
height: 364px;
/* padding: 18px 231px 156px 240px;
align-items: flex-start;
gap: 39px;
flex-shrink: 0; */
}

.objec-head{
    color: #FFF;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: 46px; /* 115% */
letter-spacing: -1.6px;
}

.objec-pre{
    color: #D6D6D6;

font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 18px; /* 128.571% */
}
.pre-Box{
    color: #D6D6D6;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.56px;
    text-transform: capitalize;
}
.words-Box{
    color: #D6D6D6;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 18px; /* 128.571% */
width: 238px;
}

.coreValues-Box{
    background-image: url('../../assets/coreValuesImage.png');
    background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 404px;
}
.core-Text{
    color: #FFF;

font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: 46px; /* 115% */
letter-spacing: -1.6px;
}
.core-PreText{
color: #929292;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 18px; /* 128.571% */
width: 248px;
}

.coreText-Box{
    padding-top: 27%;
}
.coreValu-TextBox{
    width: 23% !important;
    height: 297px;
padding: 25px 43px 106px 24px;
gap: 24px;
background: #FFF;
box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.14);
}
.numText{
font-size: 32px;
font-style: normal;
font-weight: 800;
line-height: 38px; /* 118.75% */
}
.coreword{
    color: #000;
font-size: 14px;
font-style: normal;
font-weight: 800;
line-height: 38px; /* 271.429% */
}

.boxtext{
    color: #929292;
    width: 129px;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 18px; /* 128.571% */
}
.RowCore{
    padding-left:10% !important;
    margin-top: 25% !important;
}
.ourStoryImage{
    margin-top: 20% !important;
}
.story-Image{
    padding-left:  36% !important;
}
.our-pre{
    color: #8E8E8E;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: 46px;
letter-spacing: -1.6px;
}
.ourStoryText{
    margin-top: 20% !important;
}
.OurTop-Text{
    width: 519px;
    color: #929292;
font-size: 14px;
font-style: normal;
font-weight: 800;
line-height: 18px; /* 128.571% */
letter-spacing: -0.56px;
}
.preOurStory{
    width: 519px;
    color: #929292;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 18px; /* 128.571% */
letter-spacing: -0.56px;
}
.woman-TextBox{
    background: #000;
    width: 28%;
    /* height: 90%; */
    padding: 20.27px 26.5px 32.27px 23.5px;
    position: absolute;
    margin-top: 9%;
    margin-left: 6%;
}
.womanText{
    color: #FFF;
text-align: justify;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 100%; /* 20px */
/* letter-spacing: -0.9px; */
}
.pre-lady{
    color: #FFF;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 118%; /* 16.52px */
}
/* .coreMs{
    margin-left: 9%;
}
.coreMs-5{
    margin-left: 2%;
} */
.readMore-Box{
    display: flex;
    align-items: flex-end;
    gap: 14px;
justify-content: end;
}
.RedarrowImage{
    width: 10%;
}

.womanImg{
    width: 417px;
height: 392px;
flex-shrink: 0;
}


